@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-color: #e0d9d9;
    font: normal 16px 'Roboto', sans-serif;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: #101010;
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover{
    background-color: gray;
    color: #101010;
}

.logo-container{
    float: left;
    height: 100%;
    color: white;
}

.header{
    width: 100%;
    display: table;
    padding: 0px 20px;
    background-color: #101010;
}

.content {
    width: 800px;
    margin: 10px auto;
}

.image_content {
    width: 700px;
    margin: 10px auto 5px;
    border-radius: 30px;
}

.image_alig {
    width: 300px;
    float: left;
}